<div class="page-form">
	<%= form_for [:dashboard, @asset] do |f| %>
	<% if @asset.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>
			<ul>
				<% @asset.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="page-form-label"><%= f.label :name %></div>
	<div class="page-form-field"><%= f.text_field :name %></div>

	<div class="page-form-label"><%= f.label :asset_type %></div>
	<div class="page-form-field"><%= f.select :asset_type, [['Graphic','i'],['Video','v'],['Menu','m']] %></div>

	<div class="page-form-label"><%= f.label :ad_asset_file %></div>
	<div class="page-form-field"><%= f.file_field :ad_asset_file %></div>

	<div class="page-form-label"><%= f.label :content %></div>
	<div class="page-form-field"><%= f.text_area :content %></div>

	<div class="page-form-label"><%= f.label :menu_type %></div>
	<div class="page-form-field"><%= f.select :menu_type, [['Drafts','d'],['Bottles & Cans','b'],['Games','g']] %></div>

	<div class="btn-bar">
		<%= link_to 'Cancel', dashboard_assets_path, :class => 'btn btn-cancel'%>
		<%= f.submit 'Save Asset' %>
	</div>
<% end %>
</div>