<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ad Screen</title>
	
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/i/menu_screen.css" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript">
		<% if @screen.nil? %>
			var slides = [
				{"div": "noscreens"}
			];
		<% else %>
			var slides = [
				
				
			<% @consoles.each do |console| %>
				<% con_counter = console.games.count/@screen_menu_count.to_f %>
				<% unless con_counter % 1 == 0 %>
					<% con_counter = con_counter + 1 %>
				<% end %>
				<% (1..con_counter).each do |i| %>
					{"div": "game_<%= console.short_code -%>_<%= i -%>"},
				<% end %>
			<% end %>
				
				
				
			];
		<% end %>
	
		var image_time = 5;
		var current_slide = 0;
		var total_slides = slides.length;
		var container_loading = "#slide-holder";
		var container_images = "#slide-holder-images";
		var container_divs = "#slide-holder-divs";
		var container_preload = "#preload";
		
		<% if !@screen.nil? && @screen.direction == 'v' %>
			var screen_vertical = true;
		<% else %>
			var screen_vertical = false;
		<% end %>
	</script>
</head>
<body style="background-image: url(/i/screen_back.jpg); background-size: cover;">
	
	<div id="slide-holder">
		<h1><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></h1>	
	</div>
	
	<div id="slide-holder-images">
	</div>
	
	<div id="slide-holder-divs">
	</div>
		
	
	<div id="preload">
		<% if @screen.nil? %>
			<div id="noscreens">
				<h1 style="padding: 50px; font-size: 40px; text-transform: uppercase; font-weight: bold;">Screen ID: SHOW THE JAVASCRIPT CODE</h1>
			</div>
		<% else %>
			
			<% @consoles.each do |console| %>
				<% console_page = 1 -%>
				<% console_count = 0 -%>
				<% console_count_total = 0 -%>
				<div id="game_<%= console.short_code-%>_<%= console_page -%>">
					<h1 class="header"><%= console.name %></h1>
					<% console.games.order(name: :asc).each do |game| %>
						<%= render 'game', g: game %>			
						<% console_count = console_count + 1 %>
						<% console_count_total = console_count_total + 1 %>
						<% if console_count == @screen_menu_count && console_count_total < console.games.count %>
							<% console_page = console_page + 1 %>
							<% console_count = 0 -%>
			
				</div>
			
			
				<div id="game_<%= console.short_code-%>_<%= console_page -%>">
					<h1 class="header"><%= console.name %></h1>
						<% end %>
					<% end %>
				</div>
			<% end %>
			
		<% end %>
	</div>
		
	<script type="text/javascript">
		function preload() {
			$.each(slides, function (i) {
				$.each(this, function (media_type, src) {
					if(media_type == "image") {
						$(container_preload).append("<img style='display: none;' src='" + src + "' />");
					}
				});
			});
			
			if (screen_vertical) {
				$(container_divs).addClass('rotate-div');
				$(container_divs).css('width', $(window).height());
			}
		}
		
		function nextSlide() {
			current_slide = current_slide+1;
			if (current_slide >= total_slides) {
				current_slide = 0;
			}
			showSlide(current_slide);
		}

		function showSlide(slide) {
			$.each(slides[slide], function (media_type, src) {
				$(container_loading).hide();
				$(container_images).hide();
				$(container_divs).hide();
				if(media_type == "image") {
					$(container_images).empty();
					$(container_images).append("<span class='helper'></span><img src='" + src + "' />");
					$(container_images).show();
				} else {
					$(container_divs).empty();
					$(container_divs).append( $("#" + src).html() );
					$(container_divs).show();
				}
				setTimeout(function() { nextSlide(); }, image_time*1000);
			});
		}
		
		function reload_page() {
		    window.location.reload(true);
		}

		$(document).ready(function() {
			preload();
		    setInterval(function(){ reload_page(); },60*60000);
			setTimeout(function() {  showSlide(current_slide);  }, 5000);
		});

	</script>
		
		
</body>
</html>