<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ad Screen</title>
	
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/i/menu_screen.css" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript">
		<% if @screen.nil? %>
			var slides = [
				{"div": "noscreens"}
			];
		<% else %>
			var slides = [
				
				
				
				
<% @screen_orders.order(order: :asc).each do |p| -%>
	<% if p.playlist.date_show < DateTime.now -%>
		<% p.playlist.playlist_orders.order(order: :asc).each do |a| -%>
			<% if a.asset.asset_type == 'm' || a.asset.asset_type == 'b' %>
				<% if a.asset.menu_type == 'd' %>
					<% (1..@draft_pages).each do |i| %>
						{"div": "draft_menu<%= i -%>"},
					<% end %>
				<% elsif a.asset.menu_type == 'b' %>
					<% (1..@bottle_pages).each do |i| %>
						{"div": "bottle_menu<%= i -%>"},
					<% end %>
				<% end %>
			<% elsif a.asset.asset_type == 'i' %>
				{"image": "http://localhost:3000<%= a.asset.ad_asset_file.url %>"},
			<% end %>
		<% end -%>
	<% end -%>
<% end -%>
				
				
				
				
			];
		<% end %>
	
		var image_time = 5;
		var current_slide = 0;
		var total_slides = slides.length;
		var container_loading = "#slide-holder";
		var container_images = "#slide-holder-images";
		var container_divs = "#slide-holder-divs";
		var container_preload = "#preload";
		
		<% if !@screen.nil? && @screen.direction == 'v' %>
			var screen_vertical = true;
		<% else %>
			var screen_vertical = false;
		<% end %>
	</script>
</head>
<body style="background-image: url(/i/screen_back.jpg); background-size: cover;">
	
	<div id="slide-holder">
		<h1><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></h1>				
	</div>
	
	<div id="slide-holder-images">
	</div>
	
	<div id="slide-holder-divs">
	</div>
		
	
	<div id="preload">
		<% if @screen.nil? %>
			<div id="noscreens">
				<h1 style="padding: 50px; font-size: 40px; text-transform: uppercase; font-weight: bold;">Screen ID: SHOW THE JAVASCRIPT CODE</h1>
			</div>
		<% else %>
		
			<% draft_counter = 0 %>
			<% draft_page_counter = 1 %>
			<div id="draft_menu1">
				<h1 class="header">Draft</h1>
				<% @draft_drinks.each do |d| %>
					<% if d.drink.visible? %>
						<%= render 'drink', d: d %>			
						<% draft_counter = draft_counter + 1 %>
						<% if draft_counter == @screen_menu_count %>
							<% draft_page_counter = draft_page_counter + 1 %>
							</div>
							<div id="draft_menu<%= draft_page_counter -%>">
							<h1 class="header">Draft</h1>
						<% end %>
					<% end %>
				<% end %>
			</div>


			<% bottle_counter = 0 %>
			<% bottle_page_counter = 1 %>
			<div id="bottle_menu1">
				<h1 class="header">Bottled</h1>
				<% @bottle_drinks.each do |d| %>
					<% if d.drink.visible? %>
						<%= render 'drink', d: d %>			
						<% bottle_counter = bottle_counter + 1 %>
						<% if bottle_counter == @screen_menu_count %>
							<% bottle_page_counter = bottle_page_counter + 1 %>
							</div>
							<div id="bottle_menu<%= bottle_page_counter -%>">
							<h1 class="header">Bottled</h1>
						<% end %>
					<% end %>
				<% end %>
			</div>
		<% end %>
		
	</div>
		
	<script type="text/javascript">
		function preload() {
			$.each(slides, function (i) {
				$.each(this, function (media_type, src) {
					if(media_type == "image") {
						$(container_preload).append("<img style='display: none;' src='" + src + "' />");
					}
				});
			});
			
			if (screen_vertical) {
				$(container_divs).addClass('rotate-div');
				$(container_divs).css('width', $(window).height());
			}
		}
		
		function nextSlide() {
			current_slide = current_slide+1;
			if (current_slide >= total_slides) {
				current_slide = 0;
			}
			showSlide(current_slide);
		}

		function showSlide(slide) {
			$.each(slides[slide], function (media_type, src) {
				$(container_loading).hide();
				$(container_images).hide();
				$(container_divs).hide();
				if(media_type == "image") {
					$(container_images).empty();
					$(container_images).append("<span class='helper'></span><img src='" + src + "' />");
					$(container_images).show();
				} else {
					$(container_divs).empty();
					$(container_divs).append( $("#" + src).html() );
					$(container_divs).show();
				}
				setTimeout(function() { nextSlide(); }, image_time*1000);
			});
		}
		
		function reload_page() {
		    window.location.reload(true);
		}

		$(document).ready(function() {
			preload();
		    setInterval(function(){ reload_page(); },60*60000);
			setTimeout(function() {  showSlide(current_slide);  }, 500);
		});

	</script>
		
		
</body>
</html>