<% @title = "Dashboard // Drink Group // #{@beer_group.name}" %>

<div id="header-name">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h5><%= link_to 'Back to Drink Dashboard', dashboard_admin_drinks_path %></h5>
				<h1>Drink Groups // <%= @beer_group.name -%></h1>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-8">
			<%= simple_format @beer_group.description %>
			<p>
				<strong>View Order:</strong>
				<%= @beer_group.order %>
			</p>
		</div>
			
		<div class="col-4">
			<div class="btn-bar btn-sidebar">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i> Edit Drink Group'), edit_dashboard_beer_group_path(@beer_group), :class => 'btn' %>
				<%= link_to raw('<i class="fa fa-trash" aria-hidden="true"></i> Delete Drink Group'), dashboard_beer_group_path(@beer_group), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
				<%= link_to raw('<i class="fa fa-file-o" aria-hidden="true"></i> Create Drink Group'), new_dashboard_beer_group_path, :class => 'btn btn-cancel' %>
				<%= link_to 'Back to Beer Group List', dashboard_beer_groups_path, :class => 'btn btn-cancel' %>
			</div>
		</div>
	</div>
</div>
