<% @title = "Sign Up" %>

	<div id="header-name">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h5>Your just a step away</h5>
					<h1>Sign Up</h1>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-5">

  <%= form_for @user do |form| %>
  <%= form_errors_for @user %>
    <%= render partial: '/users/form', object: form %>

    <div class="btn-bar">
      <strong><%= link_to t(".sign_in"), sign_in_path %></strong>
      <%= form.submit %>
    </div>

  <% end %>
			</div>
			<div class="col-7">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
