<% @title = "Events // @event.title.titleize" %>

	<!-- Hero Graphic -->
	<div id="hero-graphic">
		<%= image_tag @event.image.url %>
	</div>

	<div id="header-name">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<%= link_to 'Back to Events', events_path %>
					<h1><%= @event.title %></h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-9">
				<h4><%= @event.date.strftime("%A - %m/%d") %></h4>
				<%= simple_format @event.description %>
			</div>

			<div class="col-3">
				<h3>Have your party at Player 1</h3>
				<p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>