<div class="page-form">
	<%= form_for [:dashboard, @product] do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
			<ul>
				<% @product.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="page-form-label"><%= f.label :name %></div>
	<div class="page-form-field"><%= f.text_field :name %></div>

	<div class="page-form-label"><%= f.label :description %></div>
	<div class="page-form-field"><%= f.text_area :description %></div>

	<div class="page-form-label"><%= f.label :price %></div>
	<div class="page-form-field"><%= f.number_field :price, :step => '0.01' %></div>
	
	<div class="page-form-label"><%= f.label :image %></div>
	<div class="page-form-field"><%= f.file_field :image %></div>

	<div class="page-form-label"><%= f.label :category_id %></div>
	<div class="page-form-field"><%= f.select :category_id, Category.where(bucket_type: 'merch').collect {|p| [ p.name, p.id ] }, {include_blank: 'None'} %></div>

	<div class="page-form-field"><%= f.check_box :available %> <%= f.label :available %></div>
	
	<div class="btn-bar">
		<%= link_to 'Cancel', dashboard_products_path, :class => 'btn btn-cancel'%>
		<%= f.submit 'Save Product' %>
	</div>
<% end %>
</div>