<% @title = "Dashboard // Games" %>

<div id="header-name">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h5><%= link_to 'Back to Dashboard', dashboard_home_path %></h5>
				<h1>Games</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-8">
		<% if @console %>
			<strong>Showing Only: </strong><%= @console.name %>
		<% end %>
			<ul class="list-nostyle list-nosidemargin list-padlines list-addsplitlines">
				<% if @games.empty? %>
					<li><span class="alert-no-items">--- no items to show ---</span></li>
				<% else %>
					<% @games.each do |game| %>
						<li><%= link_to game.name, dashboard_game_path(game) %> <%= link_to '[edit]', edit_dashboard_game_path(game) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>

		<div class="col-4">
			<div class="btn-bar btn-sidebar">
				<%= link_to 'Create a New Game', new_dashboard_game_path, :class => 'btn' %>
			</div>

			<h4>View Options</h4>
			<ul class="list-nostyle list-padlines">
				<li><%= link_to "View Last 50 Games", dashboard_games_path %></li>
				<% @game_consoles.each do |console| %>
					<li><%= link_to "View #{console.name}", dashboard_games_path(console: console.id) %></li>
				<% end %>
			</ul>
		</div>
		
	</div>
</div>



