<% @title = "Dashboard // Drink Sizes" %>

<div id="header-name">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h5><%= link_to 'Back to Drink Dashboard', dashboard_admin_drinks_path %></h5>
				<h1>Drink Sizes</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">

		<div class="col-8">
			<ul class="list-nostyle list-nosidemargin list-padlines list-addsplitlines">
				<% if @beer_sizes.empty? %>
					<li><span class="alert-no-items">--- no items to show ---</span></li>
				<% else %>
					<% @beer_sizes.each do |beer_size| %>
						<%= render 'line_item', beer_size: beer_size %>
					<% end %>
				<% end %>
			</ul>
		</div>

		<div class="col-4">
			<div class="btn-bar btn-sidebar">
				<%= link_to 'Create a New Drink Size', new_dashboard_beer_size_path, :class => 'btn' %>
			</div>
			
			<h4>View Options</h4>
			<ul class="list-nostyle list-padlines">
				<li><%= link_to "View All Sizes", dashboard_beer_sizes_path %></li>
				<li><%= link_to "View Draft Pour Only", dashboard_beer_sizes_path(draft: true) %></li>
				<li><%= link_to "View Non Draft Only", dashboard_beer_sizes_path(draft: false) %></li>
			</ul>
		</div>
		
	</div>
</div>
