<% @title = "Dashboard" %>

	<div id="header-name">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Dashboard</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<% if signed_in? && current_user.admin? %>
			<div class="row">
				<div class="col-3">
					<%= link_to raw('<i class="fa fa-archive" aria-hidden="true"></i>Beer Groups'), dashboard_beer_groups_path, :class => 'admin-button'%>
				</div>
				<div class="col-3">
					<%= link_to raw('<i class="fa fa-list" aria-hidden="true"></i>Beer Styles'), dashboard_beer_styles_path, :class => 'admin-button'%>
				</div>
				<div class="col-3">
					<%= link_to raw('<i class="fa fa-arrows-v" aria-hidden="true"></i>Beer Sizes'), dashboard_beer_sizes_path, :class => 'admin-button'%>
				</div>
				<div class="col-3">
					<%= link_to raw('<i class="fa fa-list-alt" aria-hidden="true"></i>Breweries'), dashboard_breweries_path, :class => 'admin-button'%>
				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<%= link_to raw('<i class="fa fa-beer" aria-hidden="true"></i>Drinks'), dashboard_drinks_path, :class => 'admin-button'%>
				</div>
				<div class="col-3">
					<%= link_to raw('<i class="fa fa-print" aria-hidden="true"></i>Tap List'), dashboard_drafts_path, :class => 'admin-button'%>
				</div>
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-check" aria-hidden="true"></i>Available</a>
				</div>
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-gamepad" aria-hidden="true"></i>Games</a>
				</div>
			</div>


			<div class="row">
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-tv" aria-hidden="true"></i>Ad Screens</a>
				</div>
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-users" aria-hidden="true"></i>Users</a>
				</div>
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-calendar" aria-hidden="true"></i>Events</a>
				</div>
				<div class="col-3">
					<h5 class="nomargin">System Stats</h5>
					<ul class="list-nostyle list-nosidemargins list-stats">
						<li>User Count <span><%= @user_counts %></span></li>
						<li>Admin Count <span><%= @user_admin_counts %></span></li>
						<li>Moderator Count <span><%= @user_mod_counts %></span></li>
						<li>Brewery Count <span><%= Brewery.count %></span></li>
						<li>Drink Count <span><%= Drink.count %></span></li>
					</ul>
				</div>
			</div>
		<% else %>
			<div class="row">
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-list" aria-hidden="true"></i>Breweries</a>
				</div>
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-list" aria-hidden="true"></i>Drinks</a>
				</div>
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-check" aria-hidden="true"></i>Available</a>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-gamepad" aria-hidden="true"></i>Games</a>
				</div>
				<div class="col-3">
					<a href="#" class="admin-button"><i class="fa fa-calendar" aria-hidden="true"></i>Events</a>
				</div>
			</div>
		<% end %>
	</div>