	<!-- Begin Footer -->
	<footer>
		Copyright &copy; 2017 Player 1
		<span class="divider"></span>
		<%= link_to 'Privacy Policy', rules_privacy_path %>
		<span class="divider"></span>
		<%= link_to 'Terms of Service', rules_terms_path %>
		<br/>
		Navigation
		<span class="divider"></span>
		<%= link_to 'Drinks', drinks_path %>
		<span class="divider"></span>
		<%= link_to 'Games', games_path %>
		<span class="divider"></span>
		<%= link_to 'Merch', products_path %>
		<span class="divider"></span>
		<%= link_to 'Events & Packages', events_path %>
		<span class="divider"></span>
		<%= link_to 'Rules', rules_path %>
		<br/>
		Stay up to date with Player 1
		<span class="divider"></span>
		<a href="https://facebook.com/player1orlando">Facebook</a>
		<span class="divider"></span>
		<a href="https://instagram/player1orlando">Instagram</a>		
	</footer>

	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a9e7305b09648a"></script>